h1 {
	font-family: sans-serif;
	font-size: 2em;
	color: rgb(172,151,98);
	text-shadow: 2px 2px rgb(120,107,64);
}

body {
	background-color: rgb(155,76,50);
}

#header {
	width: 800px;	
}

#tagline>li {
	display: inline-block;
	width: 60%;
	text-align: right;
	font-family: inherit;
	font-size: 1em;
	color: rgb(172,151,98);
}