<html>
	<head>
	  <title>AndyGoldman.github.io</title>
			<meta charset="utf-8">
			<meta http-equiv="content-type" content="text/html">
			<!-- Latest compiled and minified CSS-->
			<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

			<!-- Optional theme -->
			<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->
			<!-- Custom bootstrap download -->
			<link href="bootstrap.css" type="text/css" rel="stylesheet">
			<link href="bootstrap-theme.css" type="text/css" rel="stylesheet">
			<link href="main.css" type="text/css" rel="stylesheet">
			<script src="//code.jquery.com/jquery-1.11.0.min.js">></script>
			<!-- Latest compiled and minified JavaScript -->
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
<body>
  <div id="header" >
		<h1> Andy Goldman </h1>
		<span id="tagline">creative analytical focused </span>
	</div>
   
  {% include menu.html %}
  
  <div id="content">
    {{ content }}
  </div>
  
  {% include footer.html %}
  
  
</body>
</html>