<html>
	<head>
	  <title>AndyGoldman.github.io</title>
			<meta charset="utf-8">
			<meta http-equiv="content-type" content="text/html">
			<link href="main.css" type="text/css" rel="stylesheet">
			<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="script.js"></script>
	</head>
<body>
  <h1> My Layout </h1>
	
   
  {% include menu.html %}
  
  <div id="content">
    {{ content }}
  </div>
  
  {% include footer.html %}
  
  
</body>
</html>